.footer
    .container
        .big_div.big_div_2
            .med_div.med_div_1
                h2 Trụ sở chính
                p Tầng 31, Keangnam Hanoi Landmark Tower, Khu E6, khu đô thị Cầu giấy, phường Mễ Trí, quận Nam Từ Liên, Hà Nội 
            .med_div.med_div_2
                h2 Chi nhánh TP. Hồ Chí Minh
                p Tầng 8, Tòa nhà Xổ số Kiến thiết (Lottery Tower), Số 77 Trần Nhân Tôn, phường 9, Quận 5, Tp.Hồ Chí Minh
            .med_div.med_div_3
                h2 Chi nhánh Hà Nội 
                p Tầng 9, tòa nhà Vĩnh Trung Plaza, số 255 - 257 Hùng Vương, phường Vĩnh Trung, quận Thanh Khê, Tp.Đà Nẵng
        .big_div.big_div_1
            .med_div.med_div_1
                ul
                    li
                        a(href="#") BĐS Bán 
                    
                    li 
                        a(href="") BĐS Cho Thuê
                    li 
                        a(href="") Ký Gửi
                    li
                        a(href="") Dự Án
        .big_div.big_div_1            
            .med_div.med_div_3
                ul
                    li
                        a(href="") Kiểm Tra Sổ Đỏ
                    li 
                        a(href="") Kiểm Tra Quy Hoạch
    .footer-block
        .footer-copyright
            h3 Coppyright EQ HOME
        .footer-img
            img(src="../../assets/images/Untitled-11.png", alt="")