.main-content
    .content
        .box-main-content
            .title-content
                h6 NHÀ ĐẤT THỔ CƯ
            .slide-content
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                            .img-block
                                img(src="../../../dist/assets/images/Untitled-6.png")   
                            .item-content
                                a(href="#")
                                    p Cần bán căn hộ 120 m2
                                    p Giá : 12 Tỷ
                                .address
                                    .icon-address
                                        img(src="../../../dist/assets/images/iconaddress.png")
                                    h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
        .box-main-content
            .title-content
                h6 DỰ ÁN
            .slide-content
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-7.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-7.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-7.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-7.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-7.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-7.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                            .img-block
                                img(src="../../../dist/assets/images/Untitled-7.png")   
                            .item-content
                                a(href="#")
                                    p Cần bán căn hộ 120 m2
                                    p Giá : 12 Tỷ
                                .address
                                    .icon-address
                                        img(src="../../../dist/assets/images/iconaddress.png")
                                    h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
        .box-main-content
            .title-content
                h6 BẤT ĐỘNG SẢN CHO THUÊ
            .slide-content
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                        .img-block
                            img(src="../../../dist/assets/images/Untitled-6.png")   
                        .item-content
                            a(href="#")
                                p Cần bán căn hộ 120 m2
                                p Giá : 12 Tỷ
                            .address
                                .icon-address
                                    img(src="../../../dist/assets/images/iconaddress.png")
                                h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
                .wrapper-content
                    .box-content
                            .img-block
                                img(src="../../../dist/assets/images/Untitled-6.png")   
                            .item-content
                                a(href="#")
                                    p Cần bán căn hộ 120 m2
                                    p Giá : 12 Tỷ
                                .address
                                    .icon-address
                                        img(src="../../../dist/assets/images/iconaddress.png")
                                    h5 152 Nguyễn Trãi, Thanh Xuân , Hà Nội
    
    .banner-main
        img(src="../../../dist/assets/images/Layer 22.png", alt="banner")
        