.navigation
    .header
        .logo__img
            img(src="../../assets/images/Untitled-1.png", alt="")
        .banner__img
            img(src="../../assets/images/Untitled-2.png", alt="")
    .menu
        ul.nav__list
            .nav-box1.active
                li.nav__item
                    a(href="../../../dist/html/pages/index.html").nav__link Trang chủ
            .nav-box1
                li.nav__item
                    a(href="../../../dist/html/pages/gioithieu.html").nav__link Giới thiệu
            .nav-box1    
                li.nav__item
                    a(href="#").nav__link Nhà bán đất <i class="fas fa-caret-down"></i>
                    ul.nav-sub__list
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/nhadatban.html").nav-sub__link Đất nền
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/nhadatban.html").nav-sub__link Chung cư
            .nav-box1                    
                li.nav__item
                    a(href="#").nav__link Dự án <i class="fas fa-caret-down"></i>
                    ul.nav-sub__list
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/duan.html").nav-sub__link Đất nền
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/duan.html").nav-sub__link Chung cư
            .nav-box1
                li.nav__item
                    a(href="#").nav__link Cho thuê <i class="fas fa-caret-down"></i>
                    ul.nav-sub__list
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/chothue.html").nav-sub__link Đất nền
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/chothue.html").nav-sub__link Chung cư
                        li.nav-sub-item
                            a(href="../../../dist/html/pages/chothue.html").nav-sub__link Nhà trọ
            .nav-box1
                li.nav__item
                    a(href="../../../dist/html/pages/tintuc.html").nav__link Tin tức
            .nav-box1
                li.nav__item
                    a(href="../../../dist/html/pages/kygui.html").nav__link Ký gữi
            .nav-box1
                li.nav__item
                    a(href="../../../dist/html/pages/lienhe.html").nav__link Liên Hệ
            .nav-box1    
                li.nav__item
                    a(href="#").nav__link
                        <i class="fas fa-sign-out-alt"></i>Đăng Nhập
    .menu-mobile
        .dropdown-nav
            span <i class="fas fa-bars dropmenu"></i>
                ul.nav__list
                    .nav-box1.active
                        li.nav__item
                            a(href="../../../dist/html/pages/index.html").nav__link Trang chủ
                    .nav-box1
                        li.nav__item
                            a(href="../../../dist/html/pages/gioithieu.html").nav__link Giới thiệu
                    .nav-box1    
                        li.nav__item
                            a(href="#").nav__link Nhà bán đất <i class="fas fa-caret-down"></i>
                            ul.nav-sub__list
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/nhadatban.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/nhadatban.html").nav-sub__link Chung cư
                    .nav-box1                    
                        li.nav__item
                            a(href="#").nav__link Dự án <i class="fas fa-caret-down"></i>
                            ul.nav-sub__list
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/duan.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/duan.html").nav-sub__link Chung cư
                    .nav-box1
                        li.nav__item
                            a(href="#").nav__link Cho thuê <i class="fas fa-caret-down"></i>
                            ul.nav-sub__list
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/chothue.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/chothue.html").nav-sub__link Chung cư
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/chothue.html").nav-sub__link Nhà trọ
                    .nav-box1
                        li.nav__item
                            a(href="../../../dist/html/pages/tintuc.html").nav__link Tin tức
                    .nav-box1
                        li.nav__item
                            a(href="../../../dist/html/pages/kygui.html").nav__link Ký gữi
                    .nav-box1
                        li.nav__item
                            a(href="../../../dist/html/pages/lienhe.html").nav__link Liên Hệ
                    .nav-box1    
                        li.nav__item
                            a(href="#").nav__link
                                <i class="fas fa-sign-out-alt"></i>Đăng Nhập
    //- h1 ahaha            